<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/quick/edit/{{quick.id}}" method="POST">
                
                <div class="form-group">
                    <textarea name="text" rows="2" class="form-control" placeholder="Description">{{quick.text}}</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>